target/
!.mvn/wrapper/maven-wrapper.jar
!target/*.jar
*~
*.swp

.idea/
.vscode/

.env
.git/
.gitignore
.github/

# Ignore local migration and metadata files if not needed in image
tms.json
migration.sql
README.md
